body {
  background-image: url("blackbg.png");
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
  margin: 0;
  border: 0;
}

.navbar {
  width: 100%;
  height: 40px;
  background-image: url("blackbg.png");
  color: white;
  position: fixed;
  top: 0;
  padding-top: 10px;
}

.linkref {
  color: white;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

.titleContainer {
  max-width: 1040px;
}

.name {
  max-width: 600px;
  padding-left: 50px;
  float: left;
  font-size: 60px;
  font-weight: bold;
}

.portrait {
  float: right;
  margin-left: 50px;
  margin-top: 50px;
}

.title {
  font-size: 40px;
  max-width: 600px;
  padding-left: 50px;
  float: left;
}

.infoHome {
  max-width: 700px;
  margin-top: 50px;
  float: left;
  padding-left: 50px;
  font-size: 15px;
}

.infoHome a {
  color: white;
  text-decoration: underline;
}

.infoBlog {
  max-width: 700px;
  margin-top: 50px;
  float: left;
  padding-left: 50px;
  font-size: 15px;
}

.infoPortfolio {
  max-width: 700px;
  margin-top: 50px;
  float: left;
  padding-left: 50px;
  font-size: 15px;
}

.infoPortfolio a {
  text-decoration: underline;
  color: white;
}

.infoContact {
  max-width: 700px;
  margin-top: 150px;
  padding-left: 50px;
  font-size: 15px;
}

.infoContact a {
  text-decoration: none;
  color: white;
}

.dplogo {
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}
